*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.code-wrapper{
    flex: 1;
    height: 50%;
}
.pikachu-preview-wrapper{
    flex: 1;
    height: 50%;
}
#code {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
    height: 100%;
    overflow: scroll;
    background-color: #eee;
    padding: 16px;
}
.actions {
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    margin-right: 18px;
}
.actions > button {
    margin-bottom: 16px;
    padding: 12px;
    border-radius: 8px;
    color: #333;
    background-color: #FFE433;
    border-style: none;
    cursor: pointer;
}
.actions > button.active {
    color: white;
    background-color: #FC0D1C;
}
.actions > button:focus {
    outline: none;
}



